---
import { Image } from "@astrojs/image/components";
import { getAllCreations } from "../../services/creationService";
import { urlfFor } from "../../services/imageService";

import "./Grid.css";

const creations = await getAllCreations();
---

<section id="grid">
    {
        creations.map((creation) => {
            const image = creation?.images?.[0];
            const slug = creation?.slug?.current;

            if (!image) {
                return null;
            }

            return (
                <article class="thumb">
                    <a href={`/creations/${slug}`}>
                        <Image
                            class={"image"}
                            src={urlfFor(image)
                                .width(1200)
                                .height((1200 * 3) / 4)
                                .url()}
                            width="1200"
                            aspectRatio="4:3"
                            format="webp"
                            alt=""
                        />
                    </a>
                    <h2>{creation.title}</h2>
                </article>
            );
        })
    }
</section>

<script>
    window.addEventListener("load", () => {
        const grid = document.getElementById("grid");
        grid?.classList.add("animate");
    });
</script>
