---
import Header from "../Header/Header.astro";
import Footer from "../Footer/Footer.astro";
import "./Layout.css";

type Props = {
    title: string;
    description: string;
};

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{title}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content={description} />
        <link href="./favicon.ico" rel="shortcut icon" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous"
            referrerPolicy="no-referrer"
        />
    </head>

    <body>
        <Header />
        <div class="header-top"></div>
        <main>
            <slot />
        </main>
        <Footer />
        <div class="header-bottom"></div>
    </body>
</html>
